.col {
    text-align: center ;
    padding: 30px 50px 30px 50px;
    font-size: 15px;
    

    /* background-color: blue; */
}

.靜態網頁設計 {
    color: yellow;
}

.col tr {
    padding: 15px;
    background: ;

}

