.container {
    margin: 50px 150px;
    background: url(./Movie.PNG) no-repeat center center/ cover;
    width: 100%;
    height: 700px;
    text-align: center;
    color: yellow;
    padding: 100px;
    
}